body {
    font-family: 'Roboto', sans-serif;
}

#header,#hero {
    background-color: #1f2937;
}

#header {
    display: flex;
    justify-content: space-between;
}

#hero {
    display: flex;
}

.header-logo {
    margin: 10px;
}

#link-box {
    display: flex;
}

.link {
    margin: auto;
    padding: 10px;
    display: flex;
}

#main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

#sub {
    font-size: 18px;
    color: #e5e7eb;
}