* {
    font-family: Roboto;
}

header, footer {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
}

.logo {
    display: flex;
    align-content: center;
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

.link {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    justify-content: space-between;
    height: 450px;
}

.image {
    width: 50%;
}

.black-swan {
    margin: 30px 30px 30px 30px;
    width: 50%;
}

.text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.title {
    font-weight: 800;
    font-size: 48px;
    color: #f9faf8;
    height: 300px;
}